/* Remove horizontal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* General */
.logo-default {
    margin-top: 1px !important;;
}
.menu_nav {
    font-weight: bold;
}
.menu_nav:hover {
    font-weight: bold;
    color: green !important;
    background: whitesmoke !important;
}
.copyright{
    margin-right:50px !important;
    color:whitesmoke;
}
.menu_foot {
    font-weight: bold;
    color: white !important;
    text-decoration: none;
}
.menu_foot:hover {
    font-weight: bold;
    color: green !important;
    background: whitesmoke !important;
    text-decoration: none;
}
#modal_privacy .row, #modal_terms .row{
    font-size:12px;
    font-stretch: extra-condensed;
    margin: -10px 0 0 10px;
    text-justify: auto !important;
}
.top_header{
    background: #000;
}
#mySearch{
    text-align: justify !important;
    padding: 30px !important;
    line-height: 28px;  /*29*/
    margin: 0px !important;
}
.body_grid{
    padding-left:50px;
    padding-right:50px;
}
.show-txt{
    text-align: center;
    padding:5px;
    min-height: 150px;
    font-size: 14px;
}
.show_section {
    color:#3D3D3D;  
    padding: 1px !important;
    line-height: 20px;  /*29*/
    margin: 13px !important;
    opacity:0.90;   /*88 or 91*/
    border-top-left-radius: 4px;    /*6*/
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(200, 200, 200, 1);
    -moz-box-shadow:    1px 0px 5px 1px rgba(200, 200, 200, 1);
    box-shadow:         1px 0px 5px 1px rgba(200, 200, 200, 1);
}
.show_section_caption{
    margin-top: 0px !important;
}
.show_section_btnbuy{
    z-index:101;
    top:3px;
    right:3px;
    padding:0 15px;
    cursor:pointer;
    position:absolute;
}
/* #event */
.event_section {
    color:#3D3D3D;  
    padding: 1px !important;
    line-height: 20px;  /*29*/
    margin: 13px !important;
    opacity:0.90;   /*88 or 91*/
    border-top-left-radius: 4px;    /*6*/
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 1px 0px 30px 1px rgba(51, 50, 50, 1);
    -moz-box-shadow:    1px 0px 30px 1px rgba(51, 50, 50, 1);
    box-shadow:         1px 0px 30px 1px rgba(51, 50, 50, 1);
}
.fixed-panel {
    max-width:1200px!important;
    margin: 0 auto;
}
.home-page-panel{
    width: 1160px;
    margin: auto;
}
.color-panel {
    background: whitesmoke;  
}
.fc-time{
   display : none;
}

/*gallery on show*/
.carousel-control { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
.venue-pic{
    width: 100%;
    min-height: 135px;
    margin:auto;
}
.venue-pic img{
    width: 100%;
}
.carousel-inner img{
    width:100%;
}
.cbp-l-grid-projects-title {
    font: 700 14px/21px "Open Sans", sans-serif;
    color: #474747;
    margin-top: 15px!important;
}
.cbp-l-grid-projects-desc {
    font: 400 12px/18px "Open Sans", sans-serif;
    color: #888888;
    margin-bottom: 15px!important;
    display: block;
}
.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #2d7005!important;
    border-color: #2d7005!important;
}

.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #2d7005;
    border-color: #2d7005;
}
.cbp-item-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
}
/* TIMER */
#timerClock {
    font-size: 36px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    right: 0;
}
#timerClockPanel {
    position: fixed !important;
    bottom: 0;
    margin: 0px 10px 55px 0px;
    padding: 10px;
    background-color: rgba(0,0,0, 0.8);
    width: 125px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    right: 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 300;
    display: none;
}
@media screen and (max-width: 1130px) {
    .home-page-panel{
        width: 100%;
        margin: auto;
    }

}

@media screen and (max-width: 480px) {
    #timerClock {
        font-size: 12px;
        font-weight: bold;
        padding:0 5px;
        color: white;
        float: left;
    }
    #timerClockPanel {
        position: relative!important;
        bottom: 0;
        margin: 0;
        padding: 2px;
        background-color: rgba(0,0,0, 0.8);
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        right: 0;
        text-align: right;
        font-weight: 300;
        line-height: 30px;
    }
}
/* EVENT */
/* BEGIN ABOUt AND VIDEO */
.about-text {
    height: auto;
    padding: 0 !important; 
}
.about-text > h4 {
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    color: #555;
    padding: 1em 20px;
    margin: 0;
    border: 1px solid #f5f5f5;
}
.about-text > h4 > i {
    font-size: 20px !important;
    color: #555; 
}
.about-text > h4 > span {
    text-align: right !important; 
}
.about-text > p {
    color: #808a94; }
.about-text ul,
.about-text > p,
.about-text .about-quote {
    padding-left: 20px;
    padding-right: 20px; 
}
.about-text li {
    margin-bottom: 0.5em; 
}
.about-text .about-quote > h3 {
    border-left: 3px solid;
    border-color: #ccc;
    padding-left: 1em;
    font-style: italic;
    line-height: 1.3em; 
}
.about-text .about-quote > .about-author {
    text-align: right; 
}

.about-image {
    height: 545px; 
}

.about-links-item {
    margin-bottom: 2em; 
}

/* END ABOUt AND VIDEO */
/* BEGIN RESPONSIVE */
@media (max-width: 600px) {
    .about-text {
        height: auto;
        padding-bottom: 1.5em !important; 
    }
    .about-image {
        margin: 0 -20px; 
    } 
}

/* END RESPONSIVE */