RewriteEngine on 


Options -Indexes

#disabled iframe for external address
Header append X-FRAME-OPTIONS "SAMEORIGIN"
Header append X-XSS-PROTECTION "1; mode=block"
Header append X-CONTENT-TYPE-OPTIONS "nosniff"


<IfModule mod_rewrite.c>
    #remove list indexes
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


    # Anti Hack Version 2 - VERY IMPORTANT
    # Disable everything except qualified routes
    # LocationMatch = routes to let through (ie. ignore these paths)
    Order deny,allow
    Allow from 127.0.0.1
    Allow from ::1
    Deny from all

    <LocationMatch "/(admin|app|login|logout|feed|home|events|general|user|shoppingcart|purchase|event|buy|venues|venue|merchandise|merchandises|pos|themes)/">
        Allow from all
    </LocationMatch>

</IfModule>