    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

#   Options +SymLinksIfOwnerMatch
    RewriteEngine On

#   Force connections to https in ticketbat.com public site
    RewriteCond %{HTTP_HOST} ^ticketbat\.com [NC]
    RewriteCond %{SERVER_PORT} 80 
    RewriteRule ^(.*)$ https://www.ticketbat.com/$1 [R,L]

#   Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

#   Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

#   Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#   Disable view files in the browser inside folder public, except from this urls
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?ticketbat.com [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?ticketbat.com [NC]
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?admin.ticketbat.com [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?admin.ticketbat.com.*$ [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?admindev.ticketbat.com [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?admindev.ticketbat.com.*$ [NC] 
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?ticketbat.com [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?ticketbat.com [NC]
    RewriteRule \.(gif|png|txt|psd|eot|svg|ttf|woff|woff2|js|css)$ - [F]


